{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
  <p>Votre login et votre mot de passe ne se correspondent pas. Veuillez recommencer.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Votre compte n'a pas accès à cette page. Reconnectez-vous avec un compte qui possède l'accès.</p>
  {% else %}
    <p>Veuillez vous authentifier pour accéder à cette page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Mot de passe perdu ?</a></p>

{% endblock %}
