{% load static %}

<html>
  <head>
    <title>..:: EDT ::..</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'etiquettes/' %}css/edt.css"/>
    <link rel="stylesheet" type="text/css" href="/css/edt-calcule.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'etiquettes/js' %}/jquery-ui/themes/base/jquery-ui.css"/>
    <script src="{% static 'etiquettes/js' %}/jquery/jquery.js"></script>
    <script src="{% static 'etiquettes/js' %}/jquery-ui/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'etiquettes/js' %}/jquery-timepicker/jquery-ui-timepicker-addon.css"/>
    <script src="{% static 'etiquettes/js' %}/jquery-timepicker/jquery-ui-timepicker-addon.js"></script>
    <script src="{% static 'etiquettes/js' %}/timepicker-fr.inc.js"></script>

    <script src="{% static 'etiquettes/js' %}/jquery.minicolors.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'etiquettes/js' %}/jquery.minicolors.css"/>
    <script src="/js/functions.js"></script></head>
  <body title="">
    <div id="header">
      <div class="logout">
	<a href="/accounts/logout/?next=/"><img src="{% static 'etiquettes/img/' %}logout.svg" title="Cliquer pour se déconnecter" width="32px" alt="logout"/></a>  
      </div>
      <div class="ident">
	Bonjour, {{ user.first_name }} {{ user.last_name }}
      </div>
      Date des données lues : <div id="loadcalendar" style="display: inline;">
	<input type="text" name="load_calendar" id="load_calendar" Title="Date pour lire les données"  value="{{date}}" class="hasDatePicker" />
      </div>
      &nbsp;<a id='adminlink' href='/adminEdt' title='Cliquer pour passer en mode administration'>Administrer</a></div>
    <!-- Lien et icône pour la sauvegarde si on a la permission -->
    <div id="save">
      <img src="{% static 'etiquettes/img/' %}save.svg" style="height: 40px; cursor: pointer;" alt="Cliquez pour enregistrer le tableau" title="Cliquez pour enregistrer le tableau" onclick="save();"/>
      <div id="savecalendar">
	<input type="text" name="save_calendar" id="save_calendar" Title="Date pour enregistrer les données"  value="{{date}}" class="hasDatePicker" />
      </div>
    </div>
    <!-- Lien et icône pour la création de fiches si on a la permission -->
    <div id="create">
      <img src="{% static 'etiquettes/img/' %}Kjots.svg" style="height: 40px; cursor: pointer;" alt="Auteur : Oxygen Project, David Vigoni; Licence CC-BY-SA-3.0 ; href : http://commons.wikimedia.org/wiki/File:Kjots.svg" title="Cliquer pour créer une fiche, ou déposer une fiche pour la dupliquer" onclick="create();"/>
    </div>
    <!-- Lien et icône pour la suppression de fiches si on a la permission -->
    <div id="delete">
      <img src="{% static 'etiquettes/img/' %}Exquisite-trashcan_silver.png" style="height: 40px;" alt="Auteur : viciarg ᚨ, bearbeitet Sozi ; licence : GPL2+ ; href : http://commons.wikimedia.org/wiki/File:Exquisite-trashcan_silver.png" title="Déposer une fiche dans la poubelle pour la supprimer définitivement"/>
    </div>
    <!-- fond pour les têtes de colonnes -->
    <div id="horiz-titles"></div>
    <!-- Étiquettes par défaut de têtes de colonnes -->
    {% for s in etiqTeteColonne %}
    <div id="column_{{forloop.counter}}" class="{{s.class}}"
	 style="top:{{s.top}}px; left:{{s.left}}px; z-index:{{s.z_index}}">
      <p>{{s.content}}</p>
    </div>
    {% endfor %}
    <!-- Étiquettes supplémentaires de têtes de colonnes -->
    {% for s in etiqNonPlacees %}
    <div id="column1_{{forloop.counter}}" class="{{s.class}}"
	 style="top:{{s.top}}px; left:{{s.left}}px; z-index:{{s.z_index}}">
      <p>{{s.content}}</p>
    </div>
    {% endfor %}
    <!-- Marqueurs de places pour les étiquettes de colonnes -->
    {% for c in caseTeteColonne %}
    <div id="case_{{forloop.counter}}" class="{{c.class}}"
	 style="top:{{c.top}}px; left:{{c.left}}px; z-index:{{c.z_index}}">
    </div>
    {% endfor %}
    <!-- Mise en place des emplacements pour les têtes de lignes -->
    <div id="timeslots">
      {% for h in heures %}
      <div class="timeslot" style="top: {{h.top}}px;">
	  {{h.h}} <img src='{% static "etiquettes/img/" %}voir.svg' width='20px' alt='image pour un œil, source commons.wikimedia.org, File Eye_open_font_awesome.svg' title='voir « maintenant »' onclick="maintenant('{{h.h}}')" class='link' />
      </div>
      {% endfor %}
    </div>
    <!-- les lignes de racks -->
    <div id="rack">
      {% for h in horaire %}
      <div id="rack_{{h.h}}" style="top:{{h.top}}px;">
      </div>
      {% endfor %}      
    </div>
    <!-- dialogue de création -->
    <div id="create_dialog" style="display:none">
      <form action="" method="post">
	<fieldset class="ameliore">
	  <legend>Création d'une étiquette</legend>
	  {% csrf_token %}
	  <table>
	    <tr>
	      <th>Couleur</th>
	      <td>
		{% for c in colors %}
		<input type="button" style="width: 1em; background: {{c}};" onclick="setMinicolorsFromButton($(this))"/>
		{% endfor %}
		<input type="text" id="roue" value="#ff99ee"/>
	      </td>
	    </tr>
	    <tr>
	      <th>Prof</th>
	      <td>
		<select name="prof" id="select_prof">
		  <option value="-1">Choisissez ...</option>
		  {% for p in profs %}
		  <option value="{{p.pk}}">{{p.nom}}</option>
		  {% endfor %}
		</select>
	      </td>
	    </tr>
	    <tr>
	      <th>Classe</th>
	      <td>
		<select name="classe" id="select_classe">
		  <option value="-1">Choisissez ...</option>
		  {% for c in classes %}
		  <option value="{{c.pk}}">{{c.nom}}</option>
		  {% endfor %}
		</select>
	      </td>
	    </tr>
	    <tr>
	      <th>Durée</th>
	      <td>
		<input name="duree" id="select_duree" value="2"/><span id="d12" style="margin-left: 25px;"></span>
	      </td>
	    </tr>
	  </table>
	</fieldset>
      </form>
    </div>
    
    <!-- dialogue de message -->
    <div id="dialog" style="display:none">
    </div>
    
    <!-- mise en place des fiches de la journée s'il y en a -->
    {% for f in fiches %}
    {{f}}
    {% endfor %}
  </body>
</html>
