{% extends "base_generic.html" %}
{% block title %}
Administration
{% endblock %}
{% block content %}
{% if user.is_superuser %}
<div id="admin"><a href="/admin/">Administration directe avec Django</a></div>
{% endif %}
<h1>Administration d'EDT</h1>
<form action="" method="post">
  <fieldset class="ameliore">
    <legend>Gestion des salles</legend>
    <p>
      Format : « nom : particularités : capacité de la salle »,
      séparateur = ":"
    </p>
    {% csrf_token %}
    <p><textarea cols="40" rows="10" name="salles">{{salles}}</textarea></p>
    <input type="submit" name="submit_salles" value="Valider la mise à jour des salles"/>
  </fieldset>

  <fieldset class="ameliore">
    <legend>Gestion des profs</legend>
    <p>
      Format : « nom complet »
    </p>
    <p><textarea cols="40" rows="10" name="profs">{{profs}}</textarea></p>
    <input type="submit" name="submit_profs" value="Valider la mise à jour des profs"/>
  </fieldset>

  <fieldset class="ameliore">
    <legend>Gestion des classes</legend>
    <p>
      Format : « nom : effectif », séparateur = ":"
    </p>
    <p><textarea cols="40" rows="10" name="classes">{{classes}}</textarea></p>
    <input type="submit" name="submit_classes" value="Valider la mise à jour des classes"/>
  </fieldset>

</form>

{% if dialog_content %}
<div id="dialog">
  {{dialog_content}}
</div>
<script type="text/javascript">
  var d=$("#dialog").dialog();
  function fadeOut() {
    d.fadeOut("slow", function(){d.dialog("close")});
  }
  setTimeout(fadeOut,5000);
</script>
{% endif %}
{% endblock %}
