{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    
    <title>..:: EDT{% block title %}{% endblock %} ::..</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'etiquettes/' %}css/edt.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'etiquettes/js' %}/jquery-ui/themes/base/jquery-ui.css"/>
    <script src="{% static 'etiquettes/js' %}/jquery/jquery.js"></script>
    <script src="{% static 'etiquettes/js' %}/jquery-ui/jquery-ui.js"></script>
  </head>
  <body>
    {% block nav %}
    <a href="/maintenant">Tableau des cours, maintenant</a>
    <a href="/accounts/logout/?next=/">Déconnexion</a>
    {% endblock %}
    {% block content %}
    {% endblock %}
  </body>
</html>
