<div class="etiquette top"
     style="position: absolute; top: {% if top %}{{top}}{% else %}200{% endif %}px; left: {% if left %}{{left}}{% else %}30{% endif %}px; width: {{edtDim.colWidth}}px; height: {{height}}px; background:{{couleur}}; display: flex;">
  <div style="margin: auto;">
    <p style="font-weight: bold; font-size: 90%;">{{nom}}</p>
    <p style="font-weight: bold;">{{classe}}</p>
  </div>
  <input type="hidden" class="prof" value="{{profId}}"/>
  <input type="hidden" class="classe" value="{{classeId}}"/>
  <input type="hidden" class="duree" value="{{duree}}"/>
  <input type="hidden" class="couleur" value="{{couleur}}"/>
</div>
