/**
 *Règle CSS calculées d'après les constantes de dimensions.py
 **/

body{
    height: {{edtDim.bodyHeight}}px;
}

#horiz-titles {
    position: absolute;
    top: {{edtDim.htitre.top}}px;
    left: {{edtDim.htitre.left}}px;
    height: {{edtDim.htitre.height}}px;
    width: {{edtDim.htitre.width}}px;
    border: 1px grey solid;
    background-color: wheat;
}

#timeslots {
    position: absolute;
    top: {{edtDim.timeslots.top}}px;
    left: {{edtDim.timeslots.left}}px;
    height: {{edtDim.timeslots.height}}px;
    width: {{edtDim.timeslots.width}}px;
    border: 1px grey solid;
    background-color: wheat;
}

.timeslot{
    position: absolute;
    left: {{edtDim.vtitre.left}}px;
    border: 1px solid navy;
    border-radius: 3px;
    font-family: Courier, fixed;
    font-size: 38px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(250,250,250);
    height: {{edtDim.vtitre.height}}px;
    width: {{edtDim.vtitre.width}}px;
}

.timeslot img{
    position: relative;
    left: -10px;
}

#rack {
    position: absolute;
    top: {{edtDim.rack.top}}px;
    left: {{edtDim.rack.left}}px;
    height: {{edtDim.rack.height}}px;
    width: {{edtDim.rack.width}}px;
}


#rack div {
    position: absolute;
    left: 0px;
    height: {{edtDim.rack_div.height}}px;
    width: {{edtDim.rack_div.width}}px;
    border: 1px grey solid;
    background: url('/static/etiquettes/img/rack0.png');
    background-size: auto auto;
    background-size: {{edtDim.colWidth}}px {{edtDim.rowHeight}}px;
}

