{% extends "base_generic.html" %}
{% block title %}
Importation d'une base EDT de la version précédente
{% endblock %}
{% block content %}
{% if user.is_superuser %}
<div id="admin"><a href="/admin/">Administration directe avec Django</a></div>
{% endif %}
<h1>Importation d'une base EDT de la version précédente</h1>
<form action="" method="post">
  <fieldset class="ameliore">
    <legend>Choix d'un fichier sqlite3</legend>
    {% csrf_token %}
    <p>Nom du fichier</p>
    <p><input name="db" placeholder="truc.sqlite3" value="{{dbPath}}"></p>
    <input type="submit" name="submit_salles" value="Importer"/>
  </fieldset>
</form>

{% if dialog_content %}
<div id="dialog">
  {{dialog_content}}
</div>
<script type="text/javascript">
  var d=$("#dialog").dialog({width: 800});
  function fadeOut() {
    d.fadeOut("slow", function(){d.dialog("close")});
  }
  setTimeout(fadeOut,5000);
</script>
{% endif %}
{% endblock %}
