<html>
  <head>
    <title>..:: EDT ::.. Authentification</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %}
      <fieldset>
	<legend>Authentifiez-vous</legend>
	<table>
	  <tr><th>Login :</th><td><input type="text" name="login" placeholder="prenom.nom"/></td></tr>
	  <tr><th>Mot de passe :</th><td><input type="password" name="password" placeholder="secret"/></td></tr>
	</table>
	<input type="hidden" name="next" value="{{next}}"/>
	<input type="submit" value="Valider">
      </fieldset>
    </form>
  </body>
</html>
