{% load static %}

<html>
  <head>
    <title>..:: EDT ::..</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'etiquettes/' %}css/edt.css"/>
    <link rel="stylesheet" type="text/css" href="/css/edt-calcule.css"/>
    <script src="{% static 'etiquettes/js' %}/jquery/jquery.js"></script>
  </head>
  <body style="position: absolute">
    <h1>Vos salles, {{date}}</h1>
    {% if erreur %}
    <h2 class="erreur">{{erreur}}</h2>
    {% endif %}
    <!-- partie zoomable -->
    <div id="zoomable">
      <div id="hint" class="zoomable" style="position: absolute; left: {{hint.left}}px; top: {{hint.top}}px;">
      </div>
      <div id="timeslots" class="zoomable" style="overflow: hidden; height: {{rack.height}}px;">
	{% for h in heures %}
	<div class="timeslot zoomable" style="top: {{h.top}}px; box-shadow: 5px 10px 10px #888888;">
	  {{h.nom}}
	</div>
	{% endfor %}
      </div>
      {% for s in salleDivs %}
      <div class="column-title zoomable" style="left: {{s.left}}px; top: {{s.top}}px; font-size: 30px;">
	{{s.nom}}
      </div>
      {% endfor %}
      <div id="les_fiches" class="zoomable" style="position: absolute; overflow: hidden; top: {{rack.top}}px; left: {{rack.left}}px; width: {{rack.width}}px; height: {{rack.height}}px; border: grey 1px solid;">
	{% for f in fiches %}
	<div class="etiquette zoomable" style="position: absolute; background: {{f.couleur}}; top: {{f.top}}px; left: {{f.left}}px; height: {{f.height}}px; width: {{f.width}}px; opacity: 0.8; z-index: 1000; padding: 5px 0px 5px; border-radius: 8px; box-shadow: 5px 10px 10px #888888; display: flex;">
	  <div style="margin: auto;">
	    <p style="font-weight: bold; font-size: 90%">{{f.prof}}</p>
	    <p style="font-weight: bold; font-size: 140%">{{f.classe}}</p>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>
    <!-- fin de la partie zoomable -->
    <script type="text/javascript">
      <!-- bandes horizontales alternées dans le fond -->
      var d = $("#les_fiches");
      var i, background;
      {% for h in heures %}
      i = {{forloop.counter}};
      if (i%2==0) background = "white"; else background = "#c8c8c8";
      d.append($("<div style='position: absolute; top: "+(i*{{edtDim.rowHeight}})+"px; left: 0px; height: {{edtDim.rowHeight}}px; width: {{rack.width}}px; background: "+background+";'></div>"));
      {% endfor %}
      <!-- filets verticaux par-dessus -->
      {% for s in salleDivs %}
      i = {{forloop.counter}};
      if(i>0) d.append($("<div style='position: absolute; top: 0px; left: "+i*{{edtDim.colWidth}}+"px; height: {{edtDim.rack.height}}px; width: 0px; border: grey 1px solid; z-index: 1010;'></div>"));
       {% endfor %}
      <!-- changement de style pour les fiches tronquées du haut -->
      $(".etiquette").each(function(){var d = $(this); var top = parseInt(d.css("top")); if (top<0) $("<p style='margin-top: "+(-top)+"px'>...</p>").insertBefore(d.find("p").first())});
      <!-- affichage de l'url -->
      $("#hint").html("<p style='margin-top: 2px;'>URL : "+window.location+"</p>")
      var zoom =1, rightMost=0;
      {% for s in salleDivs %}
      if (rightMost < {{s.left}}+{{edtDim.colWidth}}+20) rightMost={{s.left}}+{{edtDim.colWidth}}+20;
      {% endfor %}
      zoom=window.innerWidth/rightMost;
      if (zoom < 1) { /* en réduction, seulement */
        $("#zoomable").css({zoom: zoom, "-moz-transform": "scale("+zoom+")", "-moz-transform-origin": "0 0",});		      
      }
		 </script>
    <!-- rafraîchissement, seulement si le serveur répond -->
    <script>
      var delay=60000; /*une minute*/

      function onLoad(event) {
          if (this.status == 200) {
               window.location = '/maintenant';
          } else {
              console.log("Communication non aboutie, par onLoad");
              setTimeout(asyncRefresh, delay);
          }
      }

      function onError(event){
          console.log("Communication non aboutie, par onError");
	  setTimeout(asyncRefresh, delay);
      }

      function asyncRefresh(){
	  var xh = new XMLHttpRequest();
	  xh.onload=onLoad;
	  xh.onerror=onError;
	  xh.open("GET", "/ping", true);
	  xh.send();
      }
		     
      setTimeout(asyncRefresh, delay);
    </script>
  </body>
</html>
